<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/eru.jpg" alt="image eru">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>code ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
       
        <ion-input placeholder="username "></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label></ion-label>
        <ion-input placeholder="password "></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="login()">login</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
