<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     code ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/eru.jpg" alt="image eru">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>eru </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      <ion-button (click)="login()">login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
